.App {
  /* text-align: center; */
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: black;
}

.navigation {
  width: 100%;
  height: 3rem;
  background: #f9f9f9;
  padding: 3rem 5rem 0.5rem;
  /* position: absolute; */
  top: 0;
  transform: translateY(0);
  z-index: 55;
  box-shadow: none;
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  -o-transition: transform .3s ease;
  -ms-transition: transform .3s ease;
  transition: transform .3s ease;
}

.navigation-menu-main {
  padding-left: 3;
  margin-right: 2rem;
  flex-grow: 1;
}
/* .text {

} */

.List {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap:wrap;
  margin:0 auto;
  row-gap: 1rem;
}

.dark {
  background-color: #404042;
  color: gray;
}

.item {
  width: 20%;
  height: 30%;
  border-style: solid;
  border-color: black;

}

.itemImage {
  width: 100%;
  height: 30%;
}

.filters {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

/* .year:hover {
  background-color: greenyellow;
} */

.selected {
  background-color: goldenrod;
}
